.features{
    padding-top: 50px;
    padding-bottom: 50px;
}
.features__header{
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 72px;
}
.features__heading{
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    color: $color-title-black;
}
.features__info{
    margin: 0;
}
.features__panel{
    display: none;

    &--active {
        display: block;
        display: flex;
        padding-top: 130px;
        padding-bottom: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
}

.features__panel-info{
    max-width: 500px;
    margin-left: auto;
}
.panel__heading{
    margin-top: 0;
    margin-bottom: 16px;
    color: $color-title-black;
}
.panel__text{
    margin: 0;
    margin-bottom: 32px;
}
.features__img{
    position: absolute;
    top: 50px;
    left: -53%;
}
.features__img--sharing{
    position: absolute;
    top: 50px;
    left: -20%;
}
@include breakpoint-down (1090px){
    .features__img{
        width: 800px;
        height: auto;
        top: 50px;
        left: -33%;
    }
}
@include breakpoint-down (1040px){
    .features__img{
        width: 500px;
        height: auto;
        top: 30%;
        left: -13%;
    }
}
@include breakpoint-down (950px){
    .features__panel-info{
        padding-bottom: 20px;
        padding-top: 200px;
        text-align: center;
        margin-right: auto;
    }
    .features__img{
        width:600px;
        height: auto;
        top: 5%;
        left:50%;
        transform: translateX(-50%);
    }
    .features__img--sharing{
        width:400px;
        height: auto;
        top:5%;
        left:50%;
        transform: translateX(-50%);
    }
}
@include breakpoint-down (650px){
    .features__panel-info{
        padding-bottom: 20px;
        padding-top: 100px;
        text-align: center;
        margin-right: auto;
    }
    .features__img{
        width:400px;
        height: auto;
        top: 5%;
        left:50%;
        transform: translateX(-50%);
    }
    .features__img--sharing{
        width:300px;
        height: auto;
        top:5%;
        left:50%;
        transform: translateX(-50%);
    }
}
