.hero{
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("../../images/site-hero-right-bg--desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: calc(50% + 550px) center;
}
.hero__title{
    max-width: 540px;
    margin-top: 0;
    margin-bottom: 24px;
    color: $color-title-black;
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.15px;
}
.hero__text{
    max-width: 540px;
    margin-top: 0;
    margin-bottom: 32px;
}
.btn__wrapper{
    display: flex;
    align-items: center;
}
.hero-btn__firefox{
    margin-left: 16px;
    background-color:#F7F7F7;
    color: $color-title-black;
    &:hover{
        box-shadow: 0 0 0 2px $color-title-black;
        color: $color-title-black;
    }
}
@include breakpoint-down (980px){
    .hero__text,
    .hero__title{
        max-width: 400px;
    }
    .hero{
        background-position: calc(50% + 500px) center;
    }
}
@include breakpoint-down (730px){
    .hero__text,
    .hero__title{
        max-width: 300px;
    }
    .hero{
        background-position: calc(50% + 450px) center;
    }
}
@include breakpoint-down (670px){
    .hero__title{
        font-size: 30px;
        line-height: 40px;
        letter-spacing: -0.09px;
    }
    .hero{
        padding-bottom: 30px;
        padding-top: 300px;
        background-position: calc(50% + 40px) 5%;
    }
    .hero__container{
        text-align: center;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
@include breakpoint-down (400px){
    .hero{
        padding-bottom: 30px;
        padding-top: 200px;
        background-position: calc(50% + 40px) 5%;
    }
    .hero__text{
        font-size: 15px;
        line-height: 25px;
    }
   
}