.site-footer{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: $color-title-black;
    color: #fff;
}
.site-footer__container{
    display: flex;
    align-items: center;
}
.site-footer__list{
    @include list-unstyled;
    display: flex;
    align-items: center;
    margin-right: auto;
}
.site-footer__logo {
    margin-right: 65px;
    img{
        display: block;
    }
}
.site-footer__item:not(:last-child){
   margin-right: 44px;
}
.site-footer__link{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    &:hover{
        color: $color-accent-red;
    }
    .site-footer__social--link:last-child{
      margin-left: 16px;
    }
}
.social--link__facebook{
    margin-right: 40px; 
}
@include breakpoint-down(680px){
    .site-footer__logo{
        margin-right: 20px;
    }
    .site-footer__social--link:last-child{
        margin-left: 10px;
      }
      .site-footer__item:not(:last-child){
        margin-right: 24px;
     }
     .social--link__facebook{
        margin-right: 20px; 
    }
}
@include breakpoint-down(560px){
    .site-footer__container{
        flex-direction: column;
    }
    .site-footer__logo{
        margin-bottom: 44px;
    }
    .site-footer__list{
        margin-left: auto;
        margin-bottom: 44px;
    }
}
@include breakpoint-down(430px){
    .site-footer__list{
       flex-direction: column;
    }
    .site-footer__item:not(:last-child){
        margin-right: 0;
        margin-bottom: 24px;
     }
   
}