.site-header{
    position: relative;
}
.site-header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}
@include breakpoint-down(700px){
    .site-header__container{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .sitenav__link{
        color: #fff;
    }
   
}